<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Image/Icone.ico" />



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!--ABAIXO É A NAVBAR-->
    <div class="navbar navbar-expand-lg navbar-dark" id="navBar">
        <div class="containerHeader">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Login")">
                    <img src="~/Image/Icone.ico" alt="logo" id="logo">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Consultar Funcionarios", "ConsulFuncio", "Funcionario")
                        </li>
                        <li>
                            @Html.ActionLink("Consultar Clientes", "ConsulCli", "Cliente")
                        </li>

                        <li>
                            @Html.ActionLink("Consultar Produtos", "ConsulProduto", "Produto")
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="@Html.ActionLink(" ", "VerCarrinhoIndex", "Carrinho")"><img id="imgHeader" src="http://cdn.onlinewebfonts.com/svg/img_324664.png" alt="Carrinho"></a>
                        </li>

                        <li>
                            @Html.ActionLink("Fazer Venda", "FazerVenda", "Carrinho")
                        </li>

                        <li>
                            @Html.ActionLink("Consultar Vendas", "ConsulVenda", "Carrinho")
                        </li>

                        <li>
                            @Html.ActionLink("Consultar Cupons", "ConsulCupom", "Cupom")
                        </li>

                        <li>

                            <ul class="nav-dropdown">
                                <li>
                                    @Html.ActionLink("Sair", "Logout", "Login")
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                               
                        <div class="navbar navbar-right">
                            <ul class="nav navbar-nav ">
                                <li>
                                    <input name="pesquisa" id="pesq" placeholder="Pesquisar..." class="form-control" type="text">
                                    <div id="BtnPesq" class="btn"> lupa</div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Login", "Login")"><img id="imgHeader" src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="user"></a>
                                </li>

                            </ul>
                        </div>
                    }

                </ul>

            </div>
        </div>
    </div>
    <!--ACIMA É A NAVBAR-->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
       
   
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="containerFooter">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>Nossa empresa</h6>
                        <p class="text-justify">Fundada em 2022, aspiramos dar uma melhor interface e experiencia para nossos amados clientes.  </p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Categorias</h6>
                        <ul class="footer-links">
                            <li><a href="http://scanfcode.com/category/c-language/">Home</a></li>
                            <li><a href="http://scanfcode.com/category/front-end-development/">Sobre</a></li>
                            <li><a href="http://scanfcode.com/category/back-end-development/">Login</a></li>
                            <li><a href="http://scanfcode.com/category/java-programming-language/">Contato</a></li>
                            <li><a href="http://scanfcode.com/category/android/">Categorias</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Entre em contato</h6>
                        <ul class="footer-links">
                            <li><a href="http://scanfcode.com/about/">Rua Ausgusta, 69, São Paulo</a></li>
                            <li><a href="http://scanfcode.com/contact/"> game.wave@gmail.com </a></li>
                            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">(11) 968425-7725</a></li>
                            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>             
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="containerFooter">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">
                            Copyright &copy;  @DateTime.Now.Year All Rights Reserved by
                            <a href="#">DEVELOPED BY HORIZON SYSTEMS LTDA.</a>.
                        </p>
                    </div>               
                </div>
            </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
