@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.ViewModels.DetalhesProdutoEComentarios>

@{
    ViewBag.Title = "MostraComentarios";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";

}

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemAviso"]
    </div>
}
<h2>Comentários sobre o produto escolhido</h2>


@foreach (var item in Model)
{
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => item.Nome)</b> Postou: <br />
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TxtComentario)
        </td>
        <br />
        <br />
    </tr>
}

@*<div>
    @Html.ActionLink("Retornar ao menu inicial", "Index", "Home")
</div>*@
<a href="@Url.Action("DetalhesProduto", "Produto", new { codprod = ViewBag.CodProduto})">
    Retornar ao produto escolhido
</a>