@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Cupom>

@{
    ViewBag.Title = "ConsulCupom";
}

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemAviso"]
    </div>
}

<h2>Consulta dos Cupons</h2>
<a href="@Url.Action("Index", "Login")"><img src="~/Image/left.png" alt="volta" class="marginL5" id="icon" /> <span>voltar</span></a>
@using (Html.BeginForm("ConsulCupom", "Cupom", FormMethod.Get))
{
    <div class="input-group inputPesqGeral">
        <input type="text" class="form-control"  id="NomeCup" name="NomeCup" type="text" name="spPesquia" placeholder="Procurar um cupom" />
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <a href="@Url.Action("CadCupom")" class="btn btnAdd" data-toggle="modal"><img src="~/Image/mais.png" alt="Mais" id="icon" /> <span>Adicionar um novo Cupom</span></a>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodCupom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CupomTxt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorCupom)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodCupom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CupomTxt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorCupom)
                    </td>                
                    <td>
                        <a href="@Url.Action("EdiCupom", new { CodCupom = item.CodCupom })" class="edit" data-toggle="modal"><img id="icon" src="~/Image/editar.png" alt="Altera" /></a>
                        <a href="@Url.Action("DelCupom", new { CodCupom = item.CodCupom })" class="delete" data-toggle="modal"><img id="icon" src="~/Image/cruzado.png" alt="Delete" /></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
