@model TCC_Sistema_Cliente_Jogos_2022.Models.Cliente

@{
    ViewBag.Title = "EdiCliente";
}

<h2>Editar Cliente</h2>
<a href="@Url.Action("ConsulCli")"><img src="~/Image/left.png" alt="volta" class="marginL5" id="icon" /> <span>voltar</span></a>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container" id="conteinerCadUser">
        <div class="row text-center" id="tittleCadUser">
            <h2>Atualizar dados</h2>
        </div>
        <form id="formCadUser">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CPF)
            <div class="row">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-12", @id = "paddingCadUser" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.DataNasc, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                    @Html.EditorFor(model => model.DataNasc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataNasc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.TelCli, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                    @Html.EditorFor(model => model.TelCli, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TelCli, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.EmailCli, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                    @Html.EditorFor(model => model.EmailCli, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailCli, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Cadastrar" class="btn btn-default" id="btnCadUser" />
            </div>
        </form>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
