@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Produto>

@{
    ViewBag.Title = "ConsulProduto";
}

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemAviso"]
    </div>
}

<h2>Consulta dos Produtos</h2>

@using (Html.BeginForm("ConsulProduto", "Produto", FormMethod.Get))
{
    <div class="input-group inputPesqGeral">
        <input type="text" class="form-control" id="spPesquia" name="spPesquia" placeholder="Pesquise..." />
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>

}


<div class="container aling-center" id="BoxProdPesq">
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <a href="@Url.Action("CadProduto")" class="btn btnAdd marginL5 marginT5" data-toggle="modal"><img src="~/Image/mais.png" alt="Mais" id="icon" /> <span>Adicionar um novo Produto</span></a>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="col-sm-3" style="height: 70vh;">
                <tr class="itemProdPesq">
                    <td>
                        @Html.HiddenFor(modelItem => item.CodProd) <br />
                    </td>
                    <td>
                        <a href="@Url.Action("DetalhesProduto", "Produto", new { codprod = item.CodProd})">
                            <img src="@Url.Content(item.ImgCapa)" width="250px" height="250px" />
                        </a>
                    </td>
                    <td>
                        <h3 class="group inner list-group-item-heading marginT5">
                            @Html.DisplayFor(modelItem => item.ProdNome)
                        </h3>
                    </td>
                    <td>
                        <p class="lead marginT5">
                            R$@Html.DisplayFor(modelItem => item.ProdValor)
                        </p>
                    </td>
                    <td>
                        <a class="btn btn-lg btn-block" id="btnAddCar" href="@Url.Action("DetalhesProdutoFuncionario", new { codprod = item.CodProd })">Detalhes</a>
                    </td>

                    <td>
                        <a href="@Url.Action("EdiProduto", new { codprod = item.CodProd })" class="edit" data-toggle="modal"><img id="icon" src="~/Image/editar.png" alt="Altera" /></a>
                        <a href="@Url.Action("DelProduto", new { codprod = item.CodProd })" class="delete" data-toggle="modal"><img id="icon" src="~/Image/cruzado.png" alt="Delete" /></a>
                    </td>
                </tr>
            </div>
        }
    </div>

</div>
