@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Produto>

@{
    ViewBag.Title = "ConsulProduto";
}

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
         @TempData["MensagemAviso"]
    </div>
}

<h2>Consulte nossos produtos</h2>

<p>
    @Html.ActionLink("Adicionar um novo Produto", "CadProduto")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ImgCapa)" width="250px" height="250px" />
                <br />
                <h2>@Html.DisplayFor(modelItem => item.ProdNome)</h2>
                <br />
                Categoria: @Html.DisplayFor(modelItem => item.ProdTipo)
                <br />
                Quantidade em estoque: @Html.DisplayFor(modelItem => item.ProdQtnEstoque)
                <br />
                Descrição: @Html.DisplayFor(modelItem => item.ProdDesc)
                <br />
                Ano de lançamento: @Html.DisplayFor(modelItem => item.ProdAnoLanc)
                <br />
                Classificação: @Html.DisplayFor(modelItem => item.ProdFaixaEtaria)
                <br />
                Preço: R$@Html.DisplayFor(modelItem => item.ProdValor)
                <br />

                @Html.ActionLink("Editar", "EdiProduto", new { codprod = item.CodProd }) |
                @Html.ActionLink("Ver mais", "DetalhesProduto", new { codprod = item.CodProd }) |
                @Html.ActionLink("Apagar", "DelProduto", new { codprod = item.CodProd, CPFCliente = User.Identity.Name })
            </td>
            
        </tr>
    }

</table>
