@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Produto>

@{
    ViewBag.Title = "ConsulProduto";
}

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemAviso"]
    </div>
}

<h2>Pesquisa:"####Recebe Texto pesqusaido###"</h2>


<p>
    @Html.ActionLink("Adicionar um novo Produto", "CadProduto")
</p>
<div class="container aling-center" id="BoxProdPesq">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-3 marginT5">
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.CodProd) <br />
                    </td>
                    <td>
                        <a href="@Url.Action("DetalhesProduto", "Produto", new { codprod = item.CodProd})">
                            <img src="@Url.Content(item.ImgCapa)" width="250px" height="250px" />
                        </a>
                    </td>
                    <td>
                        <h3 class="group inner list-group-item-heading marginT5">
                            @Html.DisplayFor(modelItem => item.ProdNome)
                        </h3>
                    </td>
                    <td>
                        <p class="lead marginT5">
                            R$@Html.DisplayFor(modelItem => item.ProdValor)
                        </p>
                    </td>
                    <td>
                        <a class="btn btn-lg btn-block" id="btnAddCar" href="@Url.Action("DetalhesProduto", new { codprod = item.CodProd })">Detalhes</a>
                    </td>
                </tr>
            </div>
        }
    </div>

</div>
