@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Produto>

@{
    ViewBag.Title = "ConsulProduto";
}

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemAviso"]
    </div>
}

<h2>Consulte nossos produtos</h2>
@using (Html.BeginForm("ConsulProduto", "Produto", FormMethod.Get))
{
    <div class="buscaGeral">
        <input id="spPesquia" name="spPesquia" placeholder="Procure um game" />
        <button type="submit">Buscar</button>
    </div>
}

@using (Html.BeginForm("ConsulProduto", "Produto", FormMethod.Get))
{
    <div class="buscaGeral">
        <input id="spProdTipo" name="spProdTipo" placeholder="Procure um tipo de game" />
        <button type="submit">Buscar</button>
    </div>
}


<p>
    @Html.ActionLink("Adicionar um novo Produto", "CadProduto")
</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <a href="@Url.Action("DetalhesProduto", new { codprod = item.CodProd })">
                    <img class="thumb-post " src="@Url.Content(item.ImgCapa)" alt="Img produto" />
                </a>

                <div class="center-cropped"
                     style="background-image: url('@Url.Content(item.ImgCapa)');">
                </div>
                <div class="caption">
                    <h3 class="group inner list-group-item-heading">
                        @Html.DisplayFor(modelItem => item.ProdNome)
                    </h3>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p class="lead">
                                R$@Html.DisplayFor(modelItem => item.ProdValor)
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <a class="btn btn-success" id="btnAddCar" href="@Url.Action("DetalhesProduto", new { codprod = item.CodProd })">Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    }

</div>
