@*@model TCC_Sistema_Cliente_Jogos_2022.Models.Produto*@
@model TCC_Sistema_Cliente_Jogos_2022.ViewModels.DetalhesProdutoEComentarios
@{
    ViewBag.Title = "DetalhesProduto";
}


<div class="container aling-center">
    <div class="row">
        <div class="col-sm-6">
            <img src="@Html.DisplayFor(model => model.ImgCapa)" width="100%" height="100%" />
        </div>
        <div class="col-sm-6" id="boxDesc">
            <div class="p-2">
                <h1 id="title"> @Html.DisplayFor(model => model.ProdNome)</h1>
            </div>
            <div class="p-2 mt-2">
                <h3 id="subTitle">Categoria</h3>
                <h6 id="textProd">@Html.DisplayFor(model => model.ProdTipo)</h6>
            </div>

            <div class="p-2">
                <i class="fas fa-star red fa-fw"></i>
                <i class="fas fa-star red fa-fw"></i>
                <i class="fas fa-star red fa-fw"></i>
                <i class="fas fa-star-half red"></i>
                <i class="fas fa-star o-20"></i>
            </div>

            <div class="p-2 mt-2">
                <h3 id="subTitle">Ano de Lançamento</h3>
                <h6 id="textProd">@Html.DisplayFor(model => model.ProdAnoLanc)</h6>
            </div>

            <div class="p-2 mt-2">
                <h3 id="subTitle">Faixa Etária </h3>
                <h6 id="textProd"> @Html.DisplayFor(model => model.ProdFaixaEtaria)</h6>
            </div>

            <div class="p-2 mt-3">
                <h3 id="subTitle">Descrição </h3>
                <h6 id="textProd"> @Html.DisplayFor(model => model.ProdDesc)</h6>
            </div>

            <div class="row">
                <h3 id="price">R$ @Html.DisplayFor(model => model.ProdValor)</h3>
                <a href="@Url.Action("AdicionarAOCarrinho", "Carrinho", new { codprod = Model.CodProd})" id="btnAddCar" class="btn">add car</a>
            </div>

        </div>
    </div>
</div>


<div>
    @using (Html.BeginForm("CadComentario", "Comentario", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Poste aqui seu comentário</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Fk_CpfCli)
            @Html.HiddenFor(model => model.CodProd/*, new { Value = Html.DisplayFor(model => model.CodProd)}*/)

            <div class="form-group">
                @Html.LabelFor(model => model.TxtComentario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TxtComentario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TxtComentario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Postar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>

<div>
    <a href="@Url.Action("MostraComentarios", "Comentario", new { codprod = Model.CodProd})">
        Ver os comentários sobre o produto  
    </a>

</div>

