@*@model TCC_Sistema_Cliente_Jogos_2022.Models.Produto*@
@model TCC_Sistema_Cliente_Jogos_2022.ViewModels.DetalhesProdutoEComentarios
@{
    ViewBag.Title = "DetalhesProduto";
}

<style>
    #clasEtaria {
        width: 34px;
        height: 34px;
    }
</style>

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-warning">
        @TempData["MensagemAviso"]
    </div>
}

<div class="container aling-center" id="boxProd">
    <div class="row">
        <div class="col-sm-6">
            <img src="@Html.DisplayFor(model => model.ImgCapa)" width="90%" height="90%" />
        </div>
        <div class="col-sm-6" id="boxDesc">
            <div class="p-2">
                <h1 id="title"> @Html.DisplayFor(model => model.ProdNome)</h1>
            </div>
            <div class="p-2 mt-2">
                <h6 id="textProd">@Html.DisplayFor(model => model.ProdTipo)</h6>
            </div>

            <div class="p-2 mt-2">
                <h6 id="textProd">Ano de Lançamento: @Html.DisplayFor(model => model.ProdAnoLanc)</h6>
            </div>

            <div class="p-2 mt-2">
                @{
                    string faixa = Model.ProdFaixaEtaria.ToString();
                    switch (faixa)
                    {
                        case "+10":
                            <img src="~/Image/classind_10.png" id="clasEtaria" />
                            break;

                        case "+12":
                            <img src="~/Image/classificacao_12_anos_.png" id="clasEtaria" />
                            break;

                        case "+14":
                            <img src="~/Image/classind_14.png" id="clasEtaria" />
                            break;
                        case "+16":
                            <img src="~/Image/classind_16.png" id="clasEtaria" />
                            break;

                        case "+18":
                            <img src="~/Image/classind_18.png" id="clasEtaria" />
                            break;

                        default:
                            <img src="~/Image/classind_l.png" id="clasEtaria" />
                            break;
                    }
                }
            </div>

            <div class="p-2 mt-3">
                <h3 id="subTitle">Descrição </h3>
                <h6 id="textProd"> @Html.DisplayFor(model => model.ProdDesc)</h6>
            </div>

            <div class="row">
                <h3 id="price">R$ @Html.DisplayFor(model => model.ProdValor)</h3>
                <a href="@Url.Action("AdicionarAOCarrinho", "Carrinho", new { codprod = Model.CodProd})" id="btnAddCar" class="btn">add car</a>
            </div>

        </div>
    </div>
</div>

<div class="container aling-center" id="boxComente">
    @using (Html.BeginForm("CadComentario", "Comentario", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h4>Poste aqui seu comentário</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Fk_CpfCli)
        @Html.HiddenFor(model => model.CodProd/*, new { Value = Html.DisplayFor(model => model.CodProd)}*/)

        <div class="row marginT5">
            <div class="col-sm-2">
                <img src="http://picsum.photos/50" alt="" class="img-circle">
            </div>

            <div class="col-sm-10">
                @Html.EditorFor(model => model.TxtComentario, new { htmlAttributes = new { @class = "form-control", @id = "inputComente", placeholder = "Escreva seu comentario..." } })
                @Html.ValidationMessageFor(model => model.TxtComentario, "", new { @class = "text-danger" })
            </div>
            <button class="btn  btn-block" id="BtnEnviaComente">Enviar</button>
        </div>
    }
</div>

<div>
    <a href="@Url.Action("MostraComentarios", "Comentario", new { codprod = Model.CodProd})">
        Ver os comentários sobre o produto
    </a>

</div>

