@model TCC_Sistema_Cliente_Jogos_2022.Models.Produto

@{
    ViewBag.Title = "EdiProduto";
}

<h2>Editar um Produto</h2>

<a href="@Url.Action("ConsulProduto")"><img src="~/Image/left.png" alt="volta" class="marginL5" id="icon" /> <span>voltar</span></a>


@using (Html.BeginForm("EdiProduto", "Produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CodProd)

    <div class="form-horizontal">

        <hr />


        <div class="container" id="conteinerCadUser">
            <div class="row text-center" id="tittleCadUser">
                <h2>Atualizar Produto</h2>
            </div>
            <form id="formCadUser">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CodProd)
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.ProdNome, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ProdNome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdNome, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.ProdTipo, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ProdTipo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdTipo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.ProdDesc, htmlAttributes: new { @class = "control-label col-md-12", @id = "paddingCadUser" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ProdDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdDesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.ProdValor, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ProdValor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdValor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.ProdFaixaEtaria, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ProdFaixaEtaria, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdFaixaEtaria, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.ProdAnoLanc, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ProdAnoLanc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdAnoLanc, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.ProdQtnEstoque, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ProdQtnEstoque, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdQtnEstoque, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.ImgCapa, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                        @Html.EditorFor(model => model.ImgCapa, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                        @Html.ValidationMessageFor(model => model.ImgCapa, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Atualizar" class="btn btn-default" id="btnCadUser" />
                </div>
            </form>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Retornar a listagem dos produtos", "ConsulProduto")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
