@model IEnumerable<TCC_Sistema_Cliente_Jogos_2022.Models.Funcionario>

@{
    ViewBag.Title = "ConsulFuncio";
}

<style>

    #icon {
        width: 32px;
        height: 32px;
    }
</style>

@if (TempData["MensagemAviso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemAviso"]
    </div>
}
<h2>Consulta dos Funcionários</h2>

@using (Html.BeginForm("ConsulFuncio", "Funcionario", FormMethod.Get))
{
    <div class="buscaCPFFun">
        <input id="CPFFun" type="text" name="CPFFun" placeholder="Buscar um funcionario pelo CPF" />
        <button type="submit"><i class="glyphicon glyphicon-search"></i></button>  
      </div>
        }

        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="@Url.Action("CadInsert")" class="btn btn-success" data-toggle="modal"><img src="~/Image/mais.png" alt="Mais" id="icon" /> <span>Adicionar um novo Funcionário</span></a>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataNasc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPF)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cargo)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>                   
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataNasc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cargo)
                            </td>
                            <td>
                                <a href="@Url.Action("EdiFuncio", new { CPF = item.CPF })" class="edit" data-toggle="modal"><img id="icon" src="~/Image/editar.png" alt="Altera" /></a>
                                <a href="@Url.Action("DelFuncio", new { IdFunc = item.IdFunc }) class="delete" data-toggle="modal"><img id="icon" src="~/Image/cruzado.png" alt="Delete" /></a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

