@model TCC_Sistema_Cliente_Jogos_2022.Models.Funcionario

@{
    ViewBag.Title = "EdiFuncio";
}

<h2>Editar esse Funcionário</h2>
<a href="@Url.Action("ConsulFuncio")"><img src="~/Image/left.png" alt="volta" class="marginL5" id="icon" /> <span>voltar</span></a>


@using (Html.BeginForm("EdiFuncio", "Funcionario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container" id="conteinerCadUser">
        <div class="row text-center" id="tittleCadUser">
            <h2>Atualizar Funcionário</h2>
        </div>
        <form id="formCadUser">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CPF)
            <div class="row">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-12 marginT5", @id = "paddingCadUser" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(model => model.DataNasc, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                    @Html.EditorFor(model => model.DataNasc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataNasc, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-5">
                    @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-12", @id = "labelCadUser" })
                    @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Atualizar" class="btn btn-default" id="btnCadUser" />
            </div>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Retornar a listagem dos funcionários", "ConsulFuncio")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
